<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
</head>
<body>
    <select name="resource" size="1">
        <option value="rambler">Rambler</option>
        <option value="rumeteo">RuMeteo</option>
    </select>
    <select name="city" size="1">
        <option value="moscow">Москва</option>
        <option value="chelyabinsk">Челябинск</option>
        <option value="ekaterinburg">Екатеринбург</option>
    </select>
	
	<script>
        let d = new Date();
        alert("Today's date is " + d);
    </script>
<input type="submit" value="Отправить">

<p th:text="${weather}"/>
</body>
</html>